.addon-grid {
  display: flex;
  flex-wrap: wrap;

  .addon {
    width: 33%;
    max-width: 33%;
    padding-right: 8px;
    margin-bottom: 12px;

    .addon-content {
      align-items: center;
      border-radius: 2px;
      border: 1px solid $border-color;
      display: flex;
      height: 100px;
      padding: 12px;
    }

    p {
      margin: 0;
    }

    .description {
      font-size: 90%;
      color: $muted;
    }

    .addon-image {
      min-width: 36px;
      text-align: right;
    }
  }
}
