.basic-list {
  .list-header {
  }
  
  .list-content {
    margin-right: 8px;
  }
}

@each $theme, $colors in $color-scheme {
  .widget.#{$theme} {
    .list-header {
      border-bottom: 1px solid map-get($colors, darker);
    }

    .list-event {
      border-left: 1px solid map-get($colors, darker);
      padding-left: 8px;
    }
  }
}
