.color-picker {
  display: flex;

  .color-option {
    border-radius: 50%;
    border: 2px solid $border-color;
    height: 30px;
    padding: 4px;
    margin: 0 4px;
    width: 30px;

    &.selected {
      border: 1px solid $green;
    }

    @each $theme, $colors in $color-scheme {
      &.#{$theme} {
        background-color: map-get($colors, base);
        border-color: map-get($colors, darker);
      }
    }
  }
}
