.signUpTerminal {
  font-family: "Source Code Pro";
  background-color: red;
  margin: 64px 0 64px 120px;
  width: 530px;
  padding: 32px 0;
  border-radius: 2px;
  flex: 1;

  p {
    margin-bottom: 2px;
    font-size: 14px;
  }

  .terminal-field {
    border: none;
    outline: none;
    margin-left: 6px;
  }

  .terminal-group {
    display: flex;
    font-size: 14px;

    input {
      flex: 1;
      font-size: 14px;
    }
  }
}
