body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.error {
  background-color: $red;
  padding: 10px;
  color: $white;
  text-align: center;
  margin-bottom: 20px;
}

.locker {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 12px;
    padding: 12px 0;
  }

  .big-column {
    flex-grow: 1;
    max-width: 50%;
    width: 50%;
    margin: 12px 0;
    padding: 12px;

    @media screen and (max-width: $break-small) {
      max-width: 100%;
      width: 100%;
    }
  }
}

.main-footer {
  border-top: 1px solid $border-color;
  width: 530px;
  margin: 32px 0 32px 120px;
  display: flex;
  padding: 32px 0 0 0;
  color: $gray;

  ul {
    margin: 0 64px 0 0;
    padding: 0;
  }

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: $gray;
    };
  }

  p {
    margin-bottom: 4px;
    font-weight: 600;
  }
}
