@import "../../styles/base/config";

.terminalGroup {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin: 8px 0;

  input {
    flex: 1;
    font-size: 14px;
  }
}

.terminalField {
  border: none;
  outline: none;
  margin-left: 6px;
}
