@import "../../styles/base/config";

$navbar-bg: #0d2028;
$navbar-light-link: #fcf5e4;

.navbar {
  background-color: $navbar-bg;
  line-height: 28px;
  height: 25px;
  color: $navbar-light-link;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .branding {
    display: flex;
    background-color: $red;
    justify-content: center;
    align-items: center;
    color: $white;
    height: 100%;
    padding: 0 12px;
  }

  .appStore {
    padding: 0 12px;
    background-color: $red;
    margin-left: 12px;
  }

  .right {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  a {
    color: $navbar-light-link;
    font-weight: $font-weight--bold;
    padding: 0 6px;
    height: 100%;
    display: block;

    &:hover { color: $white; }
  }

  .info {
    font-family: $font-family--code;
    font-size: 12px;
  }

  .arrowRight {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 9px solid $red;
  }
}
