.mainFooter {
  border-top: 1px solid #ccc;
  width: 530px;
  margin: 32px 0 32px 120px;
  display: flex;
  padding: 32px 0 0 0;
  color: #666;

  ul {
    margin: 0 64px 0 0;
    padding: 0;
  }

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #666;
    };
  }

  p {
    margin-bottom: 4px;
    font-weight: 600;
  }
}
