// Global Config
// ---------

// Font Stacks
$font-family--primary   : "Fira Sans", serif;
$font-family--secondary : "Fira Sans", sans-serif;
$font-family--code      : "Source Code Pro", monospace;

// Font Weights
$font-weight--light     : 300;
$font-weight--medium    : 400;
$font-weight--bold      : 700;

//Base Colors
$white     : #fff;
$black     : #0b0b0b;
$gray      : #797e83;
$dark-gray : #333;
$light-gray: #ddd;
$dark-white: #aaa;
$muted     : $gray;
$sand-gray : #f8f6f1;

// Descriptive Colors
$sand      : #fcfaf8;
$brown     : #e0ddd3;
$blue      : #2170a6;
$red       : #ca483f;
$red-muted : #f5d6d6;
$green     : #728a03;

// Color Usage
$color-primary   : $sand;
$color-secondary : $brown;
$color-accent    : $blue;
$color-highlight : $red;
$color-shadow    : rgba($black, 0.2);

// Text
$font-size-base : 12px;
$font-default-weight: 400;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429 !default; // 20/14
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px

// Breakpoints
$break-small: 768px;

// Borders
$border-color: $light-gray;

// UI Colors
$ui-colors: (
  default : $sand,
  success : $green,
  error   : $red,
  warning : $red,
  info    : $blue
);

$color-scheme: (
  color-1: (
    border: #ccc,
    base: $white,
    light: #bbb,
    darker: #ccc,
    darkest: #666
  ),

  color-2: (
    border: #ea6e47,
    base: #ea6e47,
    light: lighten(#ea6e47, 15%),
    darker: darken(#ea6e47, 25%),
    darkest: darken(#ea6e47, 55%)
  ),

  color-3: (
    border: #738a10,
    base: #738a10,
    light: lighten(#738a10, 15%),
    darker: darken(#738a10, 10%),
    darkest: darken(#738a10, 35%)
  ),

  color-4: (
    border: #585ab7,
    base: #585ab7,
    light: lighten(#585ab7, 15%),
    darker: darken(#585ab7, 25%),
    darkest: darken(#585ab7, 40%)
  ),

  color-5: (
    border: #2876C7,
    base: #2876C7,
    light: lighten(#2876C7, 15%),
    darker: darken(#2876C7, 25%),
    darkest: darken(#2876C7, 35%)
  ),

  color-6: (
    border: #3E9286,
    base: #3E9286,
    light: lighten(#3E9286, 15%),
    darker: darken(#3E9286, 15%),
    darkest: darken(#3E9286, 55%)
  ),

  color-7: (
    border: #A5771B,
    base: #A5771B,
    light: lighten(#A5771B, 15%),
    darker: darken(#A5771B, 15%),
    darkest: darken(#A5771B, 45%)
  ),

  color-8: (
    border: #C7286F,
    base: #C7286F,
    light: lighten(#C7286F, 15%),
    darker: darken(#C7286F, 25%),
    darkest: darken(#C7286F, 35%)
  )
);

@function setcolor($scheme, $tone: base) {
  @return map-get(map-get($color-scheme, $scheme), $tone);
}


