a {
  font-size: $font-size-base;
  color: $blue;
  text-decoration: none;

  &.link-on-hover {
    color: $dark-gray;
    &:hover { color: $blue; }
    &:active { color: $blue; }
  }

  &.muted {
    color: $muted;
  }
}
