// Headings
// -------------------------

$font-size-h1: floor(($font-size-base * 2)) !default;
$font-size-h2: floor(($font-size-base * 1.7)) !default;
$font-size-h3: ceil(($font-size-base * 1.2)) !default;
$font-size-h4: ceil(($font-size-base * 1.2)) !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default;

$headings-font-family: $font-family--primary;
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color: inherit;
$headings-small-color: #888;

body {
  font-family: $font-family--secondary;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    color: $headings-small-color;
    font-size: 65%;
    font-weight: normal;
    line-height: 1;
  }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }


p {
  margin: 0 0 ($line-height-computed / 2);
  line-height: $line-height-computed;
  font-size: $font-size-base;
}

small,
.small {
  font-size: 90%;
}

strong {
  font-weight: $font-weight--bold;
}

.muted {
  color: $muted;
}

.error {
  color: $red;
}

.success {
  color: $green;
}

pre {
  margin: 0;
  font-size: 10px;
  white-space: pre;

}

// Alignment
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);

  ul,
  ol {
    margin-bottom: 0;
  }
}
